.container {
  margin-top: 25px;
}

.description {
  margin-bottom: 20px;
}

.tag {
  padding: 5px 15px;
  color: #fff;
  background-color: #007afe;
  display: inline-block;
  border-radius: 25px;
  margin-right: 10px;
  margin-top: 10px;
}
