.container {
  margin-top: 25px;
  font-size: 14px;
}

.attributes {
  color: #aaa;
  font-size: 12px;
  
  a:link,
  a:visited  {
    color: #aaa;
  }
  
  & > * {
    margin-right: 4px;
  }
  
}

.author,
.licenses {
  white-space: nowrap;
  float: left;
}