.navigationControl {
  position: absolute;
  top: 118px;
  right: 10px;
}

.geolocateControl {
  position: absolute;
  top: 75px;
  right: 10px;
}

.loading {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 10000;
  font-size: 13px;
  background-color: #fff;
  border-radius: 3px;
  padding: 3px 5px;
}
